<nav class="nav-bar">
    
    <ul>
        <a href="/"><h1>Sunny <br><span>Blog</span><img src="fortune.png" alt=""></h1></a>
        
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/add">Add Blog</a></li>
    </ul>
</nav>