
  
    <div class="side">
        <h2>ATTENTION!!!</h2>
        <p>This work is just a nodeJS, expressJS, mongoDB & mongoose practice. I was able to practice and use mongoose to connect to mongoDB server, used MVC pattern which means Model, Views & Controllers, mongoose Model & Schema for my blog structure, ejs view to output dynamic data like all-blogs, Controllers, Router to manage our routes easily and public folder for consuming express static file like css, images etc. I also used partials to make my views easier to maintain. A little bit of vanilla Js for delete request <br> Finally, I used dotenv to hide my db details and .gitignore to prevent some certain pages like .env & node_modules from being pushed to gitHub. <br>  You can Add, Read and Delete. </p><br><hr>

        <div class="social">
        <a href="https://twitter.com/sundayfortune" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://facebook.com/iriemena" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/sunday-nnaji-5a7686136" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/iriemena" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    </div>

  

   