<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
  
    <%- include('./partials/nav.ejs')  %> 
    <div class="about" id="blog">
        <h2>About me</h2>
        <p>My Name is Sunday Nnaji (Fortune) from Lagos, Nigeria.<br><br>I am a Software Developer who is passionate about 
			using the best tool in solving real life problem. <br><br>I am proficient in HTML, CSS, Javascript, Wordpress nodeJS, expressJS, mongoDB, mongoose etc. 
			<br><br>Currently trying to be better in React.</p>
    </div>
    <%- include('./partials/side.ejs')  %> 
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>