<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
  
    <%- include('./partials/nav.ejs')  %> 
    <div class="contact" id="blog">
        <h2>CONTACT INFO</h2>
        <h3>Address:</h3>
        <p>Lagos, Nigeria</p><br>
        <h3>Email me:</h3>
        <p>fortunateweb@yahoo.com</p><br>
        <h3>Call me:</h3>
        <p>+2347063638452</p>
    </div>

    <%- include('./partials/side.ejs')  %> 
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>